/* creating css variables for common properties*/
:root {
  --color-primary: rgb(158, 202, 205);
  --color-grey: rgb(50, 52, 60);
  --color-font: rgb(72, 87, 116);
  --color-bg: rgb(238, 238, 246);
  --right-screen-gap: 5rem;
}
/* css for header */
header {
  background-color: var(--color-grey);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  color: var(--color-grey);
  background-color: var(--color-primary);
  padding-left: 3rem;
  padding-right: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 2rem;
  font-weight: bold;
}
header nav a {
  color: var(--color-primary);
  margin-left: 0.3rem;
}
header nav {
  margin-right: var(--right-screen-gap);
}
/* css for hero section */
main figure img {
  max-height: 90px;
  width: 100%;
  /* enlarge the image without stretching */
  object-fit: cover;
}
main figure {
  position: relative;
}
/* css for subtitle */
main figure .subtitle {
  background-color: var(--color-primary);
  color: var(--color-grey);
  display: inline;
  position: absolute;
  bottom: 1rem;
  right: var(--right-screen-gap);
}
/* css for section */
footer section,
main section {
  color: var(--color-font);
  display: flex;
  gap: 1.5rem;
}

footer section > h2,
main section > h2 {
  /* setting min and max width so it is constant */
  --width: 200px;
  min-width: var(--width);
  max-width: var(--width);
  text-align: end;
  border-right: 2px solid var(--color-font);
  padding-right: 0.3rem;
  padding-left: 4rem;
  font-weight: bold;
  font-size: 2rem;
}
/* p of about me section */
main .about-me > p {
  font-size: 0.8rem;
}

/* css for work-details */
.work-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 85px 85px;
  width: 100%;
  gap: 1rem;
}
.work-details .work-detail:nth-child(1) {
  grid-column: span 2;
}
.work-details .work-detail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 5px solid var(--color-primary);
}
/* all section under main same right padding */
main section {
  padding-right: var(--right-screen-gap);
}
/* css for float */
.work-details .work-detail .float {
  background-color: var(--color-primary);
  color: var(--color-grey);
  position: absolute;
  bottom: 1rem;
  padding: 0.2rem 0.5rem;
}
.work-detail {
  position: relative;
}
.work-detail .float div:nth-child(2) {
  font-size: 0.6rem;
}
/* css for class contact me under footer */
.contact-me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
