/* creating css variables for common properties*/
:root {
  --color-primary: rgb(158, 202, 205);
  --color-grey: rgb(50, 52, 60);
  --color-font: rgb(72, 87, 116);
  --color-bg: rgb(238, 238, 246);
}
/* css for header */
header {
  background-color: var(--color-grey);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  color: var(--color-grey);
  background-color: var(--color-primary);
  padding-left: 3rem;
  padding-right: 0.5rem; 
  margin-bottom: 0.3rem;
  font-size: 2rem;
  font-weight: bold;
}
header nav a {
  color: var(--color-primary);
  margin-left: 0.3rem;
}
header nav {
    margin-right: 5rem;
}
/* css for hero section */
main figure img {
    max-height: 90px;
    width: 100%;
    object-fit: cover;
}
